@import 'variables';

#hand-select > [class*='col'] {
}

#hand-select .option {
  @include no-select();

  position: relative;
  margin: 15px 0;
  padding: 0.5em 0;
  color: rgba(255, 255, 255, 0.4);
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;


  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.5) 100%);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: $border-radius;
    mix-blend-mode: overlay;
  }

  &:hover::before {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.6) 100%);
  }

  @media (min-width: 768px) {
    &:active {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      &::before {
        background: linear-gradient(to top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.5) 100%);
        transform: translateY(1px);
      }
    }
  }


  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    background-size: 50px;
  }
  &#rock::after { background-image:     url('../images/fantasy/rock.png'); }
  &#paper::after { background-image:    url('../images/fantasy/paper.png'); }
  &#scissors::after { background-image: url('../images/fantasy/scissors.png'); }
}
