@import 'variables';

#hand-select > [class*='col'] {
  background: $gray-light;
}

#hand-select .option {
  position: relative;
  margin: 15px 0;
  padding: 0.75em 0;
  background-color: $gray-lighter;
  border: 1px solid $gray;
  border-radius: $border-radius;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  @include no-select();

  &:hover {
    background: $white;
    border: 1px solid darken($gray, 10%);
  }

  &#rock {
    color: $rock;
    &:active {
      background: $rock;
      border: 1px solid darken($rock, 20%);
      color: #fff;
    }
  }
  &#paper {
    color: $paper;
    &:active {
      background: $paper;
      border: 1px solid darken($paper, 20%);
      color: #fff;
    }
  }
  &#scissors {
    color: $scissors;
    &:active {
      background: $scissors;
      border: 1px solid darken($scissors, 20%);
      color: #fff;
    }
  }
}
