@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
@import "bootstrap-custom";
@import "variables";

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: $gray-light;
  @media (min-width: $screen-sm) {
    background-color: $gray;
  }
}

#game {
  @media (min-width: $screen-sm) {
    margin-top: 2em;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
}

#scores > [class*='col'] {
  background-color: $white;
}

#scores .score {
  width: 50%;
  float: left;
  text-align: center;
  padding: 1em 0;
  span {
    display: block;
  }
  span.name { font-size: 1.5em; }
  span.amount {
    font-size: 1.7em;
    font-weight: bold;
  }
}

#hand-select > [class*='col'] {
  background: $gray-light;
}

#hand-select .option {
  margin: 1em 0;
  padding: 0.25em 0;
  background-color: $gray-lighter;
  border: 1px solid $gray;
  border-radius: $border-radius;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  color: $brand-primary;

  &:hover {
    background: $white;
    border: 1px solid darken($gray, 10%);
  }
}
