@import 'variables';

#scores > [class*='col'] {
  background-color: rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-blend-mode: overlay;
}

#scores .score {
  width: 50%;
  float: left;
  text-align: center;
  padding: 0.75em 0;
  color: $white;
  span {
    display: block;
  }
  span.name { font-size: 1.2em; }
  span.amount {
    font-size: 1.5em;
    font-weight: bold;
  }
}
