@import 'variables';

#scores > [class*='col'] {
  background-color: $white;
  border-bottom: 2px solid $gray;
}

#scores .score {
  width: 50%;
  float: left;
  text-align: center;
  padding: 0.75em 0;
  span {
    display: block;
  }
  span.name { font-size: 1.2em; }
  span.amount {
    font-size: 1.5em;
    font-weight: bold;
  }
}
