.no-padding {
  padding: 0; }

#start-menu h1 {
  margin-bottom: 0.5em;
  color: white;
  font-weight: 900;
  font-size: 1.8em;
  mix-blend-mode: overlay; }
  #start-menu h1 span {
    color: rgba(255, 255, 255, 0.5); }

ul#game-modes {
  padding-left: 0; }
  ul#game-modes li {
    padding: 0.5em 1em;
    margin: 0.7em 0;
    list-style: none;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    color: #2c3e50; }
    ul#game-modes li:not(.disabled) {
      cursor: pointer; }
    ul#game-modes li.disabled {
      color: rgba(255, 255, 255, 0.5);
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 0 transparent; }
    ul#game-modes li > span {
      font-weight: normal;
      font-size: 0.9em; }
    ul#game-modes li:not(.disabled):hover {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.6) 100%); }
    ul#game-modes li:not(.disabled):active {
      background: linear-gradient(to top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.6) 100%);
      transform: translateY(1px); }

#players {
  text-align: center;
  margin-bottom: 2em; }
  #players .vs {
    position: relative;
    top: 40px;
    font-size: 1.75em;
    color: rgba(255, 255, 255, 0.3); }
  #players .name {
    font-size: 3em;
    color: rgba(255, 255, 255, 0.8); }
  #players .icon img {
    width: 40px;
    height: 40px;
    mix-blend-mode: overlay; }
  #players .you .icon img {
    width: 43px;
    height: 43px; }
